# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# 虚拟环境
.venv/
venv/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# 测试
.coverage
htmlcov/
.pytest_cache/

# 文档
*.md
!README.md
docs/

# 其他
*.log
.env
.env.*
